<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepolitan.musicapp">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicApp">
        <activity android:name=".views.forgotpassword.ForgotPasswordActivity"/>
        <activity android:name=".views.changepassword.ChangePasswordActivity" />
        <activity
            android:name=".views.playsong.PlaySongActivity"
            android:theme="@style/Theme.PrimaryLight"/>
        <activity
            android:name=".views.detailalbum.DetailAlbumActivity"
            android:theme="@style/Theme.PrimaryLight"/>
        <activity android:name=".views.edituser.EditUserActivity" />
        <activity android:name=".views.main.MainActivity" />
        <activity android:name=".views.register.RegisterActivity" />
        <activity android:name=".views.login.LoginActivity" />
        <activity android:name=".views.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>